@import "tailwindcss";

/* Reset all default margins/padding */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
  @apply min-h-screen w-full bg-black; /* Full black background */
}